<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>User info</h2>
<br>
<form th:method="POST" th:action="@{/users/saveUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="name">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <label for="name">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="OK"/>
</form>

</body>
</html>